<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jdbcDao" class="com.yc.springMy.JdbcDao" />

    <bean id="userBiz" class="com.yc.springMy.UserBizImpl">
        <property name="userDao" ref="jdbcDao" />
    </bean>

</beans>